#New {
    background-color: rgba(18, 21, 23, 1);
    padding-top: 50px;

}

.news-d {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.l h1 {
    font-family: "Montserrat";
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 80px;
    line-height: 109.00000000000001%;
    letter-spacing: -3%;
    color: rgba(255, 255, 255, 1);
}

.m p {
    font-family: "Montserrat";
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 163%;
    letter-spacing: -2%;
    color: rgba(217, 217, 217, 1);
}

.l span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 80px;
    line-height: 109%;
    letter-spacing: -0.03em;

    background: linear-gradient(90deg,
            #237249,
            #35C66B,
            #6dff9c,
            #237249);
    background-size: 300% 300%;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    display: inline-block;

    animation: gradientText 4s ease infinite;
}

@keyframes gradientText {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#move {
    background-color: rgba(18, 21, 23, 1);
    padding-top: 20px;
}

.ftr {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 5px;


}

.ftr img {
    position: relative;
    transition: all 0.3s ease;
}

.ftr img:hover {
    background-color: #237249;
    z-index: 1000;
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(35, 114, 73, 0.5);
}

.mnb {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-top: 10px;
}

.bc {
    border-radius: 30px;
}

.nk {
    border-radius: 26px;
}
.mnb img {
  position: relative;
  transition: all 0.3s ease;
}

.mnb img:hover {
  background-color: #237249;
  z-index: 1000;
  transform: scale(1.05);
  box-shadow: 0 13px 25px rgba(35, 114, 73, 0.5);
}
.get{
    border-radius: 24px;
}